/code/testbed/target
.ccls
.ccls.ubuntu
.ccls.msys2
.lvimrc
compile_flags.txt
compile_flags.txt.ubuntu
compile_flags.txt.msys2
.ccls-cache
tags
Cargo.lock
README.md.backup
personal.txt
test.c
testrst.rs
*.orig
*.exe
ptrbx
desktop.ini
